.profesor-header {
    font-family: 'Arial', sans-serif; /* Cambia esto a la tipografía que uses en Charlas */
    font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
    font-weight: bold; /* Ajusta el peso según sea necesario */
    color: #333; /* Cambia esto al color que uses en Charlas */
    text-align: center;
    margin-bottom: 20px;
}
.curso-card {
    font-family: 'Arial', sans-serif; /* Cambia esto a la tipografía que uses en Charlas */
    font-size: 1.2rem; /* Ajusta el tamaño según sea necesario */
    font-weight: bold; /* Ajusta el peso según sea necesario */
    color: #333; /* Cambia esto al color que uses en Charlas */
    text-align: center;
    margin-bottom: 20px;
    padding: 20px; /* Añadido padding para hacer las tarjetas más grandes */
}