.icon {
    width: 2rem;
}

.menu_container {
    padding: .5rem;
    margin-top: 50%;
}

.menu_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

h4 {
    color: black;
}

h4:hover {
    color: white;
}

.poiret-one-regular {
    font-family: "Poiret One", serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

.poiret-one-regular--peq {
    font-size: 30px;
}

.link {
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 0.8px;
    background-color: black;
    border-radius: 12px;
}

.item:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0.1rem 1rem;
}

.item:hover::after {
    background-color: white;
}

.item {
    display: flex;
    border-radius: 20px;
    padding: 0.1rem 1rem;
}


.link:hover::after {
    display: none;
}

.link--home {
    padding: 0.4rem 1rem;
}

.menu_col {
    display: flex;
    align-items: center;
}
.link--home:hover {
    padding: 0.4rem 1rem;
}

.house_icon{
    color: #000000;
}

.house_icon:hover{
    color: #ffffff !important;
}